body{
    background-color:yellow;
}

h1{
    color:red;
    text-align: center;
    font-weight:bold;
    font-family: "Cursive";
}


hr{
    border: 1px darkblue solid;
}

.xx{
    font-weight:bold;
    font-size:2em;
}
