.orange{
    background-color:orange;
    height:500px;
}
.jaune{
    background-color:yellow;
    height:500px;
}

.vert{
    background-color:green;
    height:500px;
}

.centered{
    background-color:white;
    width:200px;
    margin:200px auto;
}

.rose{
    background-color:pink;
    height:100px;
    width:100px;
    position:sticky;
    top:0;
}
.bleu{
    background-color:blue;
    width:100px;
    height:100px;
    position:fixed;
    bottom:0;
    right:0;
}