
/*Police personnalisée*/

@font-face {
    font-family: 'Hubballi-Regular';
    src: url(/font/Hubballi-Regular.ttf) format('ttf');
}

/*Appliqué à toutes les balises du site*/

body{
    font-family: 'Hubballi-Regular' !important;
}

footer{
    position:relative;
    bottom:0;
}

h1, h2{
    margin-top:1em;
    margin-bottom:1em;
    text-align: center;
    color: #495057;
}

.accordion h2{
    margin-top:0 !important;
}

.nav-item:hover{
    background-color:#dee2e6;

}

.nav-item:focus{
    background-color:#dee2e6;

}

.a:active{
    color:red;

}

/*Home*/

.card-title{
    color:rgb(30, 62, 68);
}

.card-text{
    color:rgb(30, 62, 68);
}

.carousel-item img{
    aspect-ratio: 1200/795;
}

.card img{
    aspect-ratio: 1200/795;
    padding:0.5em;
    border-radius: 5%;
}

.card{
    border: none;
    color: #495057;
}

/*page contact*/

input, select{
    margin-bottom: 1em;
    font-weight:bold;
}

/*page a-propos*/

/*page chenilles*/

.etapes{
    width:75%;
    height:75%;
}


/*media queries*/

@media screen and (max-width: 500px){
    .slider{display:none}
}